body {
    background-image: url("pic4.jpg");
    background-repeat: no-repeat;
  background-size: 1265px 800px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  label{
    color: aliceblue;}
  li {
    float: left;}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
  
  li a:hover:not(.active) {
    background-color: #111;}
  
  .active {
    background-color: #04AA6D; }

  ul {
    position: fixed;
    top: 0;
    width: 100%; }
  

    p {
    text-align: center; 
    color: rgb(1, 33, 95);
    font-family: 'Trebuchet MS', sans-serif;
}
  
  h1{
text-align: center;
background-color: #0478aabd;
font-family: 'Trebuchet MS', sans-serif;

  }
  h3{
    text-align: center;
    color: rgb(1, 33, 95);
    font-family: 'Trebuchet MS', sans-serif;
  }
  div.container {
    text-align: center;
    color: rgb(1, 33, 95);
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  ol.myUL {
    display: inline-block;
    text-align: left;
  }  