
  body {
    background-image: url("pic2.gif");
    background-repeat: no-repeat;
  background-size: 1265px 1000px;
  
  }
 
 
  h1 {
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
    text-align: center;
    background-color: rgba(236, 20, 20, 0.66);
    font-family: 'Trebuchet MS', sans-serif;
  }
 
h2{
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}
  th{
    color: rgb(17, 22, 28);
    font-family: 'Trebuchet MS', sans-serif;
  }
  td{
    color: rgb(6, 12, 15);
    font-family: 'Trebuchet MS', sans-serif;
  }
  p{
    color: aliceblue;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
  }
  h2{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

  table {
    text-align: center;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
